@import "./views/nav";
@import "./views/login";
@import "./views/register";
@import "./views/lightmode";
@import "./views/productsComp";
@import "./views/productDetails";
@import "./views/category";
@import "./views/about";
@import "./views/cart";
@import "./views/products";
@import "./views/toTopButton";
@import "./views/editProduct";
@import "./views/addProduct";
@import "./views/footer";

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rtl {
    direction: rtl;

    .products {
        .title_product {
            .info {
                text-align: right;
                top: 40%;
                right: 50px;
            }
        }
    }

    .nav_bar {
        nav {
            .icons {
                .cart_items {
                    span {
                        right: 20px;
                    }
                }
            }
        }
    }

    .about {
        .heading {
            letter-spacing: normal;
        }
        .about_us {
            p {
                letter-spacing: normal;
            }
        }
        .section_two {
            p {
                letter-spacing: normal;
            }
        }
    }
}

.slide_in {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    opacity: 1 !important;
}

::selection {
    background-color: #0dcaf0;
    color: white;
}

@media (max-width: 550px) {
    .nav_bar {
        nav {
            ul {
                display: none !important;

                button {
                    display: block !important;
                }
            }

            .menuIcon {
                display: block;
            }
        }
    }

    .wrapping {
        .content {
            .heading {
                flex-direction: column;
            }
        }
    }
}