.cart {
    padding-top: 100px !important;
    .cart_item {
        border: 1px solid black;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        overflow: hidden;

        .image {
            border: 1px solid black;
            overflow: hidden;
            margin-inline-end: 30px;
            height: 150px;

            img {
                width: 100%;
            }
        }

        .controls {
            margin-inline-start: 20px;
            margin-inline-end: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .cartItem_quantity {
                margin: 0 5px;
            }
        }
    }

    .total_price {
        background-color: #0dcaf0;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        padding: 10px 0;
        p {
            font-size: 2rem;
            margin: 0;
            color: white;
            font-weight: 300;
            letter-spacing: 3px;
            text-transform: capitalize;
            span {
                font-weight: 600;
            }
        }
    }
}

@media (min-width: 992px) {
    .cart {
        .cart_item {
            align-items: center;

            .heading {
                align-items: center;
            }
        }
    }
}

@media (max-width: 991.5px) {
    .cart {
        .cart_item {
            flex-direction: column;
            padding-right: 0 !important;
            padding-bottom: 20px;

            .heading {
                flex-direction: column;
                margin-bottom: 40px;

                .image {
                    border: none;
                    margin-right: 0 !important;
                    margin-bottom: 20px;
                    margin-inline-end: 0;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}