.nav_bar {
    padding: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    position: fixed;
    width: 100%;
    box-shadow: 0px 8px 8px -4px rgba(0,0,0,.5); 

    &.active {
        width: 100%;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        position: fixed;
        z-index: 999;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // position: relative;

        .menuIcon {
            cursor: pointer;
            display: none;

            img {
                width: 35px;
            }
        }

        ul {
            list-style: none;
            display: flex;
            position: relative;

            &.active {
                display: flex !important;
                flex-direction: column;
                position: absolute;
                transform: translateX(-200%);
                opacity: 0;
                top: 0;
                width: 100%;
                min-height: 100vh;
                background-color: white;
                z-index: 999;
                padding: 10px;
                padding-bottom: 100px;
                -webkit-transform: translateX(-200%);
                -moz-transform: translateX(-200%);
                -ms-transform: translateX(-200%);
                -o-transform: translateX(-200%);
                animation: slide 1s forwards ease-in-out;
                -webkit-animation: slide 1s forwards ease-in-out;

                li {
                    margin-bottom: 10px;
                    padding-bottom: 10px;

                    a {
                        color: black !important;
                        font-size: 1.2rem;
                    }
                }
            }

            li {
                margin-right: 15px;

                a {
                    text-decoration: none;
                    color: white;
                    transition: .3s;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    -ms-transition: .3s;
                    -o-transition: .3s;

                    &:hover {
                        color: rgba(255, 255, 255, 0.462);
                    }
                }

                button {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    border: none;
                    border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                    padding: 5px 10px;
                    cursor: pointer;
                    display: none;
                }
            }
        }

        svg {
            color: white;
            cursor: pointer;
        }

        .icons {
            .cart_items {
                position: relative;

                span {
                    color: black;
                    font-size: .8rem;
                    position: absolute;
                    top: -10px;
                    right: -4px;
                    background-color: white;
                    padding: 0 5px;
                    border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                }
            }

            p {
                color: white;
                margin: 0;
                margin-inline-start: 5px;
                font-size: 1.2rem;
            }

            .login_btn {
                text-decoration: none;
                color: black;
                background-color: white;
                border: none;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                padding: 5px 15px;
            }

            .user {
                color: black;
                margin-inline-start: 40px;
                background-color: white;
                padding: 10px; 
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                
            }
        }
    }
}

@keyframes slide {
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}